* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* site background color */
body {
    background-color: #0d0d0d;
}

/* center the landing page content */
.center-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 'enter' button to the site */
#enter {
    color:black;
    background-color: #3991E2;
    padding: .5rem;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.5s ease;
}

#enter:hover{
    background-color: gray;
}

/* navigation bar */
.navbar {
    list-style: none;
    display: flex;
    margin: 0em;
    margin-top: 1em;
}

/* logo */
.logo {
	float: left;
    margin-left: 1em;
    max-height: 100px;
}

/* text input boxes */
input[type="text"] {
    width: 250px;
    margin-top: 3em;
    border-radius: 30px;
    border-style: none;
    height: 30px;
    color:black;
    font-weight: bold;
}

/* page header */
h1 {
    font-size: 36px;
    margin-left: 1.5em;
    margin-top: 1em;
}

/* meteorite list */
ul.meteor_list {
    list-style-type: none;
    display: flex;
    max-width: 1300px;
    margin: auto;
}

.meteor-container {
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    margin: auto;
    margin-left: 1em;
    text-align: center;
    color: black;
}

a.meteor-container {
    color: black;
    width: 100;

}

.meteor-image {
    max-width: 50%;
    display: block;
    margin: auto;
    box-shadow: 3px 3px black;
    color: black
}

/* selected meteorite information */
.info-container {
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 9px;
    padding: 20px;
    margin-bottom: 2em;
    margin: auto;
    margin-right: 3.5em;
    margin-left: 3.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* meteorite info image */
.meteor-info-img {
    max-width: 50%;
    display: flex;
    box-shadow: 3px 3px black;
}

.info {
    flex: 1;
    margin-left: 2em;
    font-size: 28px;
    color: black !important;
}

